.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.inputArea {
  height: auto;
  max-width: 600px;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.inputArea,
textarea {
  height: auto;
  max-width: 600px;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.transformButton {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.transformButton:hover {
  background-color: #0056b3;
}

.outputContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
